.recommended-friends {
  padding: 25px 0px;
  border-top: var(--border);
  border-bottom: var(--border);
}
.recommended-friends__title {
  font-size: 14px;
  color: var(--gray-font-color);
}

.recommended-friends span {
  margin: 110px 0px;
  display: block;
  text-align: center;
  font-size: 18px;
  color: var(--gray-font-color);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray-font-color);
  margin: 25px 0px;
}

.open-chat__header span {
  opacity: 0.7;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  /* 대문자는 디자인 요소라 CSS에 추가 */
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

/* 부모 안의 특정 자식 클래스 */
.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__member-status {
  color: #ffb0e0;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  /* absolute 주면 해당 박스 사이즈 지정 안 한 이상 내용물 크기로 바뀜 */
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 0.5s linear infinite;
}

.search-store {
  width: 100%;
  height: 30px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.search-store input {
  outline: none;
  border: none;
  background-color: whitesmoke;
  width: 100%;
  margin-left: 7px;
}

.search-store i {
  opacity: 0.6;
}

.tags {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
}

.tags div {
  border: 1.5px solid rgb(175, 162, 162);
  padding: 10px;
  border-radius: 20px;
  font-weight: 600;
}
